<header class="navbar">

  <div class="logo-container">

    <img
      src="/logo.png"
      alt="MDD Logo"
      class="logo"
    />

  </div>

  <nav class="nav-links">

    <a
      routerLink="/feed"
      routerLinkActive="active-link"
    >
      Articles
    </a>

    <a
      routerLink="/topics"
      routerLinkActive="active-link"
    >
      Thèmes
    </a>

    <button
      class="logout-btn"
      (click)="logout()"
    >
      Se déconnecter
    </button>

    <button
      mat-icon-button
      routerLink="/profile"
    >
      <mat-icon>
        account_circle
      </mat-icon>
    </button>

  </nav>

</header>