<header class="navbar">

  <div class="logo-container">

    <img
      src="/logo.png"
      alt="MDD Logo"
      class="logo"
    />

  </div>

  <!-- DESKTOP -->

  <nav class="nav-links desktop-menu">

    <button
      class="logout-btn"
      (click)="logout()"
    >
      Se déconnecter
    </button>

    <a
      routerLink="/feed"
      routerLinkActive="active-link"
    >
      Articles
    </a>

    <a
      routerLink="/topics"
      routerLinkActive="active-link"
    >
      Thèmes
    </a>

    <button
      mat-icon-button
      routerLink="/profile"
    >
      <mat-icon>
        account_circle
      </mat-icon>
    </button>

  </nav>

  <!-- MOBILE -->

  <button
    mat-icon-button
    class="mobile-menu-btn"
    (click)="toggleMobileMenu()"
  >
    <mat-icon>menu</mat-icon>
  </button>

</header>

<!-- OVERLAY -->

<div
  *ngIf="isMobileMenuOpen"
  class="menu-overlay"
  (click)="closeMobileMenu()"
></div>

<!-- DRAWER MOBILE -->

<div
  *ngIf="isMobileMenuOpen"
  class="mobile-menu"
>

  <div class="mobile-links">

    <button
      class="logout-btn"
      (click)="logout()"
    >
      Se déconnecter
    </button>

    <a
      routerLink="/feed"
      routerLinkActive="active-link"
      (click)="closeMobileMenu()"
    >
      Articles
    </a>

    <a
      routerLink="/topics"
      routerLinkActive="active-link"
      (click)="closeMobileMenu()"
    >
      Thèmes
    </a>

  </div>

  <div class="mobile-bottom">

    <button
      mat-icon-button
      routerLink="/profile"
      (click)="closeMobileMenu()"
    >
      <mat-icon>
        account_circle
      </mat-icon>
    </button>

  </div>

</div>